<p id="notice"><%= notice %></p>
<%= form_for(@guess) do |f| %>

<% end %>

<p><%= @post.post_attachments.length %></p>
  <script type = "text/javascript">
    var attachments = <%= @post.post_attachments.to_json.html_safe %>;
    console.log(attachments)
    function countdown() {
      let count = 10;
      let timerId = setInterval(function() {
        count--;
        let counter = count;
        document.getElementById("countdown").innerHTML = counter;
     
        if(count == 1){
          count = 10;
        }
      attachments.forEach((element)=>{

       if(element.id === count - 1){
         console.log(element.avatar.url);
         let currentUrl = element.avatar.url;
        let currentImg = document.getElementById("showImage");
        currentImg.innerHTML=`<img src=${currentUrl} height=300 width=300>`;
       }
      })  
      }, 1000);
    }
    countdown();
  </script>

  <span id="countdown" style="font-weight: bold;"></span>
  <div id="showImage"></div>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= link_to 'Game', post_attachments_path %>
