<p id="notice"><%= notice %></p>

  <button type="button" id="play">Play</button>
  <span id="countdown" style="font-weight: bold;"></span>
  <div id="showImage"></div>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<% @guesses.each do |g|%>
  <table class="index" style="width:100%">
    <tr>
      <td class="index"><%=  g.index %></td>
      <td class"url"><img src=<%=  g.post_attachment.avatar.url %> height=100 width=100/></td>
    </tr>
  </table>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<script type = "text/javascript">

  <% ary10 = Array.new %>
   <% @post.post_attachments.each do |post_attachment| %>
    <% ary10.push(post_attachment) %>
  <% end %>

  <% @post.post_attachments.each do |post_attachment| %>
    <% while ary10.length < 10 %>
      <% ary10.push(post_attachment) %>
    <% end  %>
  <% end %>

  <% ary10.shuffle! %>

  var attachments = <%= ary10.to_json.html_safe %>;
  console.log('current length', attachments.length)
  console.log(attachments)
    let currentImg = document.getElementById("showImage");
    let count = 9;
    let currentAttachment = attachments[count];
  
  function countdown() {
    function sendData(){

      return fetch('/guesses.json', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json'},
        body: JSON.stringify({
          guess: {
            post_attachment_id: currentAttachment.id,
            index: count
          }
        })
      })
      .then(function(response){ return response.json() })
  }

    // sendData().then(response => {
    //   console.log('hi', response)
    //   let textnode = document.createTextNode(response.index);
    //   document.getElementsByClassName("index")[0].appendChild(textnode)
    // }) 

    let timerId = setInterval(function() {

      count--;
      let counter = count + 2;
      document.getElementById("countdown").innerHTML = counter;
    
      if(count == -1){
        count = 9;
      }
      currentAttachment = attachments[count];
      currentImg.innerHTML=`<img src=${currentAttachment.avatar.url} height=300 width=350>`;
      // attribute.source

    }, 1000);

    document.getElementById("play").addEventListener("click", event => {
      sendData().then(response => {
      console.log(response)
      let node = document.createElement('td')
      let textnode = document.createTextNode(response.index);
      node.appendChild(textnode)
      document.getElementsByClassName("index")[0].appendChild(node)
      }) 
    });
  }
  
  countdown();
  
</script>
